*{
    font-family: 'Roboto-Regular';
}

.content {
    
    background-color: #F5F6F8;
    overflow: auto;
    width: 100vw;
    height: 100vh;
}
.left_side {
    margin-right: auto;
    margin-left: 170px;
}

.right_side1 {
    margin-left: auto;
    margin-top: 30px;
    margin-right: 20px;
}

@media(max-width: 900px){
    .family, .full_name_profile{
        display: none;
    }
    .left_side{
        margin-left: 0px;
        zoom: 75%;
        margin-bottom: 100px;
    }
    .right_side1{
        zoom: 75%;
    }
    
}